<ion-header>
  <ion-toolbar color="warning" class="brand-toolbar">
    <ion-title>
      <ion-icon name="beer-outline"></ion-icon>
      Yka'a Beer · Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-wrapper">
    <h2 class="section-title">Información personal</h2>

    <ion-list>
      <ion-item lines="none">
        <div class="campo">
          <h3 class="campo-titulo">👤 Nombre completo</h3>
          <ion-input [value]="usuario.nombre" readonly></ion-input>
        </div>
      </ion-item>

      <ion-item lines="none">
        <div class="campo">
          <h3 class="campo-titulo">✉️ Correo electrónico</h3>
          <ion-input [value]="usuario.email" readonly></ion-input>
        </div>
      </ion-item>

      <ion-item lines="none">
        <div class="campo">
          <h3 class="campo-titulo">📞 Número de teléfono</h3>
          <ion-input [value]="usuario.telefono" readonly></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none">
        <div class="campo">
          <h3 class="campo-titulo">📍 Dirección</h3>
          <ion-input [value]="usuario.direccion" readonly></ion-input>
        </div>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
